@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&family=Noto+Sans:wght@700&family=Orbitron:wght@800&display=swap');

/*-----body------*/

body {
    margin: auto;
    background-color: rgb(234, 230, 230);
    width: 600px
}

html,
h1,
h2,
h3,
h4,
p {
    font-size: 12px;
}


/* images */

img {
    height: 500px;
    width: 500px;
    border-radius: 8px;
    padding: 2px;
    margin: auto;
}


/* header background color */

html > body > header > div {
    background-color: rgb(214, 153, 39);
}


/* h1 header */

html > body > header > div > nav > article#Top > h1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 30px;
    margin: 0;
    letter-spacing: 4px;
    position: center;
    border-image-width: auto;
}


/* h1 paragraph */

html > body > header > div > nav > article#Top > h1 > p {
    font-size: 18px;
    border-bottom: 2px;
    letter-spacing: 0;
}


/* h2 header */

article > section > header > h2 {
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: rgb(194, 134, 24);
    margin: 0;
    background-color: black
}


/* h2 paragraph */

main > div > article > section > header > p {
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    text-align: justify;
}


/* unordered list */

main > div > article > section > header > ul > li {
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
}


/* a href/hover/visited */

a {
    color: orange;
    font-family: 'Orbitron', sans-serif;
}

a:hover {
    color: rgb(180, 118, 4);
}

a:visited {
    color: rgb(240, 183, 78);
}


/* h3 header */

section > header > h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    color: rgb(194, 134, 24);
    text-align: center;
    background-color: black;
    margin: 0;
}


/* h3 footer */

main > div > article > section > footer {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}


/* h3 paragraph */

section > p {
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}


/* h3 footer paragraph*/

section > footer > p {
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
}


/* google maps */

section > footer > iframe {
    / border-radius: 4px;
}


/* h4 header */

header > h4 {
    font-size: 18px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: rgb(194, 134, 24);
    background-color: black;
    margin: 0;
}


/* h4 paragraph */

header > p {
    font-size: 16px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}


/* h4 paragraph */

nav > p {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px
}
